/*
blog.css - for styling tumblr posts
Michael Rudden - 2012
 */

.tumblr_posts {	

}

.tumblr_post {		
   list-style-type: none;
   text-align: left;
}

.tumblr_title {
   font-family: sans-serif;
   font-size: 40px;
   line-height: 48px;
   color: #FF0000;
}

.tumblr_body p {
   font-family: serif;
   font-size: 20px;  
}

.read_more_container {
	
}

.read_more_container a {
	
}

.tumblr_quote {	

}

.tumblr_quote p {		

}

.tumblr_source {
	
}


